/* base colors */
:root {
  --color-primary: #6750A4;
  --color-secondary: #958DA5;
  --color-tertiary: #B58392;
  --color-neutral: #939094;
  --color-neutral-variant: #939094;
}

/* sementic colors */
:root {
  --color-success: var(--color-neutral-variant);
  --color-warning: var(--color-neutral-variant);
  --color-danger: var(--color-neutral-variant);
  --color-info: var(--color-neutral-variant);
}